@import 'muicss/lib/sass/mui/_colors';
$mui-accent-color: $color-constant;
$mui-accent-color-dark: darken($color-constant, 15%);
$mui-accent-color-light: darken($color-constant, 10%);
$mui-btn-accent-ripple-color: darken($color-constant, 20%);

$mui-primary-color: $color-libfunc;
$mui-primary-color-dark: darken($color-libfunc, 15%);
$mui-primary-color-light: darken($color-libfunc, 15%);

@import 'muicss/lib/sass/mui/_variables';
$mui-btn-font-size: 16px;
$mui-btn-flat-bg-color-hover: $color-variable;
$mui-base-font-color: $color-variable;
$mui-base-font-family: 'Montserrat', Helvetica, Arial, Verdana, Tahoma;
@import 'muicss/lib/sass/mui/_mixins';
@import 'muicss/lib/sass/mui/_globals';

@import 'muicss/lib/sass/mui/_typography.scss';
@import 'muicss/lib/sass/mui/_buttons';
@import 'muicss/lib/sass/mui/_ripple';
@import 'muicss/lib/sass/mui/_helpers';

