@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&family=Roboto+Mono:wght@300;400;700&display=swap');

@import './styles/variables';

$kbd-bg: #000;
$link-hover-color: $color-libfunc;
$breadcrumb-bg: rgba($color-bg, 0.35);
@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/_mixins.scss';
@import 'bootstrap/scss/_utilities.scss';
@import 'bootstrap/scss/_reboot.scss';
@import 'bootstrap/scss/_grid.scss';
@import 'bootstrap/scss/_code.scss';
@import 'bootstrap/scss/_breadcrumb.scss';

@import './styles/mui';

body {
    background-color: $color-bg-darker;
}

.backdrop {
    background-color: rgba($color-bg-darker, 0.75);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9;
}

.nav {
    background-color: $color-bg;
}
.nav__nav {
}
.nav__link {
    color: $color-fg;
}

.trianglify {
    background-image: url($trianglify);
    position: relative;
}
.trianglify__overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba($color-bg, 0.4);
}
.trianglify__content {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.key-streak {
    border-bottom: 4px $color-keyword solid;
}
