$color-string: #E6DB74;
$color-constant: #AE81FF;
$color-variable: #fff;
$color-keyword: #F92672;
$color-libfunc: #66D9EF;
$color-name: #A6E22E;
$color-arg: #FD971F;
$color-bg: #272822;
$color-fg: #F8F8F2;
$color-selection: #49483E;
